.nav-item a {
  color:white;
  text-decoration: none;
  font-weight: bold;
  margin-right:10px;
}

.nav-item a.active {
  color:rgb(255, 255, 255)
}

.navbuttons-row .btn {
  margin-right: 10px;
}

.card-img-top {
  aspect-ratio: 9/13;
  max-height: 100%;
}